.header {
  position: fixed;
  width: 100%;
  z-index: 9999;

  .header-logo {
    left: 13em;
    position: absolute;
    top: 0;
    z-index: 1;

    @include small {
      left: 29px;
      width: 79px;
    }
  }

  .hamburger {
    cursor: pointer;
    height: 50px;
    padding: 15.78px 11.045px;
    position: absolute;
    right: 37.955px;
    top: 34.22px;
    width: 50px;
    z-index: 1;

    @include small {
      right: 5.895px;
      top: 6.31px;
    }

    &.alt {
      .upper, .middle, .lower {
        background-color: $text-dark !important;
      }

      .upper {
        top: 23.28px;
        transform: rotate(45deg);
        transition: background-color 0.3s, top 0.3s, transform 0.3s 0.3s;
      }

      .middle {
        opacity: 0;
      }

      .lower {
        bottom: 24.28px;
        transform: rotate(-45deg);
        transition: background-color 0.3s, bottom 0.3s, transform 0.3s 0.3s;
      }
    }

    &.alt-dark {
      .upper, .middle, .lower {
        background-color: $text-clear;
      }
    }
  }

  .upper, .middle, .lower {
    background-color: $text-dark;
    border-radius: 4px;
    height: 2px;
    position: absolute;
    width: 27.91px;
  }

  .upper {
    left: 11.045px;
    top: 15.78px;
    transition: background-color 0.3s 0.2s, top 0.3s 0.3s, transform 0.3s;
  }

  .middle {
    left: 11.045px;
    top: 23.28px;
    transition: background-color 0.3s 0.2s, opacity 0s 0.3s;
  }

  .lower {
    bottom: 15.78px;
    left: 11.045px;
    transition: background-color 0.3s 0.2s, bottom 0.3s 0.3s, transform 0.3s;
  }
}
