.menu {
  background-color: $athens-alpha;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  right: calc(-100vw - 350px);
  transition: right 0.3s ease, background-color 0.3s;
  width: calc(100vw + 350px);

  @include small {
    background-color: $athens;
    right: -300vw;
    width: 300vw;
  }

  .menu-wrapper {
    @include center(false,true);

    padding: 0 28px 0 0;
    text-align: right;
    top: 45%;
    width: 100%;

    @include medium {
      top: 55%;
    }
  }

  .menu-title {
    color: $text-accent;
    font-family: $font-bold;
    font-size: 2.4em;
    font-weight: lighter;
    margin-bottom: 3.4em;
    padding-right: 10px;
    text-transform: uppercase;

    @include small {
      font-size: 2.5em;
      margin-bottom: 1.6em;
    }
  }

  .nav-link {
    color: $text-dark;
    display: inline-block;
    font-size: 1.6em;
    letter-spacing: 0.5px;
    margin: 0.6em 0;
    padding-right: 10px;

    @include on-event {
      background: url('../../images/icons/select.svg') right center/5px 5px no-repeat;
      color: $text-accent;
      font-family: $font-bold;
      font-weight: lighter;
      letter-spacing: normal;
    }

    @include small {
      font-size: 2em;
      margin: 1em 0;
    }
  }

  .social-link {
    display: inline-block;
    height: 22px;
    margin: 1.2em 0;
    padding-right: 10px;
    width: 33px;
  }

  &.step-1 {
    right: -100vw;

    @include small {
      right: -200vw;
    }
  }

  &.step-2 {
    background-color: $white;
    right: 0;

    @include small {
      right: -100vw;
    }
  }

  &.step-3 {
    background-color: $white;
    right: 0;
  }
}
