/**
 * Basic typography style for copy text
 */

$font-regular:         'Noto Sans Regular';
$font-italic:           'Noto Sans Italic';
$font-bold:               'Noto Sans Bold';
$font-bold-italic: 'Noto Sans Bold Italic';

body {
  font-family: $font-regular;
  font-size: 10px;

  @include small {
    font-size: 8.125px;
  }
}

.accent {
  color: $text-accent;
}
