.about-us-container {
  @media  screen and (min-width: $screen-tablet) {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
  }


  .logo-card-about-us {
    display: none;
    @media  screen and (min-width: $screen-tablet) {
      display: block;
      bottom: -50px;
      left: calc(50% - 80px);
      position: absolute;
      width: 130px;
    }
    @media  screen and (min-width: $screen-laptop) {
      width: 180px;
    }
  }

  .card-about-us {
    height: calc( 100vh - 70vh);
      width: 33%;
    @media screen and (min-width: $screen-tablet ){
      height: calc( 100vh - 70vh);
      width: 33%;
    }

    @media screen and (min-width: $screen-laptop ){
      height: calc( 100vh - 50vh);
      width: 32%;
    }
  }
}

.margin {
  margin: 0 5px;

  @media screen and (min-width: $screen-tablet ){
    margin: 0 15px;
  }

  @media screen and (min-width: $screen-laptop ){
    margin: 0 20px;
  }
}

.about-us-description {
  font-family: $source-sans-pro;
  font-size: 12px;
  margin: 20px auto 40px auto;
  width: 90%;
  
  @media  screen and (min-width: $screen-tablet) {
    font-size: 18px;
    margin: 100px auto;
    width: 80%;
  }

  @media  screen and (min-width: $screen-laptop) {
    width: 50%;
  }
}

.test {
  width: 100%;
  display: flex;
  justify-content: center;
}
