.about-us-container {
  @media only screen and (min-width: 1240px) {
    width: 80%;
    margin: 0 auto;
    display: flex;
    position: relative;
  }


  .logo-card-about-us {
    @media only screen and (min-width: 1240px) {
      bottom: -50px;
      left: calc(50% - 80px);
      position: absolute;
      width: 180px;
    }
  }
}

.margin-20 {
  margin: 0 20px;
}

.about-us-description {
  font-family: 'Source Sans Pro', sans-serif;
  @media only screen and (min-width: 1240px) {
    font-size: 18px;
    margin: 100px auto;
    width: 50%;
  }
}
