.agriculture-line-container {
  font-family: 'Source Sans Pro', sans-serif;
  @media only screen and (min-width: 1240px) {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .agr-line-image {
    @media only screen and (min-width: 1240px) {
      width: 220px;
      margin: 50px;
    }
  }

  .agr-line-title {
    @media only screen and (min-width: 1240px) {
      white-space:nowrap;
      display: flex;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .products-container {
    @media only screen and (min-width: 1240px) {
      padding: 30px;
    }
  }
}

.line {
  @media only screen and (min-width: 1240px) {
    border-bottom: 1px solid #D0D0D0;
    width: 100%;
  }
}

.padding-top {
  @media only screen and (min-width: 1240px) {
    padding-top: 150px;
  }
}
