.description-slide-container {
  font-family: $source-sans-pro;

  @media only screen and (min-width: $screen-tablet) {
    bottom: 20%;
    position: absolute;
    height: 150px;
    width: 560px;
  }

  .logo-container {
    background: $white;
    @media only screen and (min-width: $screen-tablet) {
      display: flex;
      justify-content: center;
    }

    .logo {
      @media only screen and (min-width: $screen-tablet) {
        transform: scale(0.4);
      }
    }
  }

  .description-container {
    color: $white;
    @media only screen and (min-width: $screen-tablet) {
      font-weight: bold;
      margin: 20px 0 0 auto;
      width: 80%;
    }
  }

.dicam-link {
  color:$white;

  @media only screen and (min-width: $screen-tablet) {
    padding:20px 0;
  }

    &:visited {
      color:$white;
      text-decoration: none;
    }
  }

}

.slide-container {
  @media only screen and (min-width: $screen-tablet) {
    background-image:  url('dicam-carousel.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

}

.gradient-black {
	background: linear-gradient(180deg, rgba($black,0),rgba($black, 0.3));
  bottom: 0;
  height: 20%;
  position: absolute;
  width: 100%;
}
