.contact-us-container {
  margin: 0 auto 75px auto;  
  width: 100%;
  @media only screen and (min-width: $screen-tablet) {
    width: 80%;
  }

  .contact-image {
    width: 100%;
  }

  .contact-us-description-container {
    color:white;
    font-family: $source-sans-pro;
    position: absolute;
    padding-top: 10%;
    padding-left: 5%;

    @media only screen and (min-width: $screen-tablet) {
      padding-top: 3%;
      padding-left: 3%;
    }

    @media only screen and (min-width: $screen-laptop) {
      padding-top: 5%;
      padding-left: 5%;
    }

    .contact-us-title {
      font-size: 36px;

      @media only screen and (min-width: $screen-laptop) {
        font-size: 48px;
      }
    }

    .contact-us-description {
      display: none;
      @media only screen and (min-width: $screen-tablet) {
        display: block;
        font-size: 16px;
      }
      @media only screen and (min-width: $screen-laptop) {
        font-size: 20px;
      }
    }
  }
}

.contact-us-form-title {
  font-family: $source-sans-pro;
  text-align: center;
  @media only screen and (min-width: $screen-tablet) {
    font-size: 28px;
    margin-bottom: 40px;
  }
}

.contact-us-form-container {
  font-family: $source-sans-pro;
  @media only screen and (min-width: $screen-tablet) {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }


.contact-us-input {
  background: #F2F2F2;
  border-radius: 2px;
  border: 1px solid rgba(#9B9B9B, 0.5);
  color: #9B9B9B;
  font-style: italic;
  padding-left: 15px;
  width: 100%;
  @media only screen and (min-width: $screen-tablet) {
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 20px;
    width: 95%;
  }
}

.contact-us-select {
  @media only screen and (min-width: $screen-tablet) {
    height: 40px;
  }
}
  .contact-us-left-form {
    margin: 0 auto;
    width: 80%;
    @media only screen and (min-width: $screen-tablet) {
      width: 50%;  
    } 
  }

  .contact-us-rigth-form {
    margin: 0 auto;
    width: 80%;
    @media only screen and (min-width: $screen-tablet) {
      width: 50%;  
    } 
  }

  p {
    @media only screen and (min-width: $screen-tablet) {
      font-size: 16px;
      margin: 0;
    }
  }
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  width: 80%;
}

.normal {
  font-weight: normal;
}

.red {
  color: red;
}

.submit-button-red {
  background: #FF5000;
  border-radius: 1px;
  border: 0;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 40px;
  width: 150px;
}
