.cards-container {
  font-family: 'Source Sans Pro', sans-serif;



  @media only screen and (min-width: 600px) {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  .right-card-container {
    p {
      position: absolute;
      @media only screen and (min-width: 600px) {
        margin-left: 50px;
      }
    }

    .main-text {
      color: #FF5000;
      @media only screen and (min-width: 600px) {
        font-size: 55px;
      }
    }

    .image-bg {
      @media only screen and (min-width: 600px) {
        height: 400px;
        border: 30px solid #F0F1F3;
      }

    }
  }

}
