<div class="menu-footer" style='position: absolute; bottom: 0;'>
  <div class="footer hide-on-med">
    <div class="footer-head">
      <h5>Aviso de Privacidad</h5>
      <h5>Guadalajara, Jalisco, México</h5>
    </div>
    <div class="footer-body">
      <p>
        <span class="bold">2014 Allister de México S.A. de C.V.</span>
        Todos los Derechos Reservados.</p>
        <p>
          El logo de <span class="bold">Allister de México</span> y todos los nombres de marca, marcas de servicio, logotipos e
          imagen comercial de <span class="bold">Allister de México S.A. de C.V.</span> o sus subsidiarias, afiliadas o
          licenciantes son marcas comerciales o marcas comerciales registradas de Allister de México
          S.A. de C.V. en México y en otros países.
        </p>
      </div>
    </div>
</div>
