  <div class="header">
    <a href="">
      <%= image_tag 'logos/logo.svg', class: 'header-logo' %>
    </a>
    <div class="nav-container">
      <a class="column margin-left" href="#">Línea Agrícola</a><br>
      <a class="column" href="#">Línea Urbana</a><br>
      <a class="column" href="#">Nutrición De Plantas</a><br>
      <a class="column" href="empresa.html">Nosotros</a><br>
      <a class="column" href="contacto.html">Contacto</a>
      <a class="column margin-rigth" href="https://www.facebook.com/AllisterDeMexico/">
        <i class="fab fa-facebook logo-facebook" ></i>
      </a>
    </div>
  </div>
