.hero {
  background: url('../../images/hero/hero-bg-1.jpg') center/cover no-repeat;
  height: 100vh;
  width: 100%;

  .hero-text {
    @include center(false,true);

    color: $text-clear;
    font-size: 3.6em;
    font-weight: lighter;
    left: 7.64%;
    position: absolute;
    top: 55%;

    @include small {
      bottom: 20%;
      font-size: 2.5em;
      top: auto;
    }
  }

  .hero-strong {
    font-family: $font-bold;
    font-size: 1.4em;
    text-transform: uppercase;
  }
}

.about {

  .products, .presence {
    display: block;
    margin: 6em auto;
    max-width: 950px;
    text-align: center;
    width: 100%;

    @include small {
      margin: 0 auto;
    }
  }

  .brand-logo {
    display: inline-block;
    margin: 3em 4.3%;

    @include small {
      height: auto;
      margin: 5em 3.5% 1em;
      max-width: 140px;
      width: 35%;
    }
  }

  .presence {
    margin-top: 12em;

    @include small {
      margin: 1em auto 4em;
    }

    .title {
      text-align: left;
    }
  }

  .presence-map, .presence-text {
    display: inline-block;
    height: auto;
    margin: 0 4%;
    text-align: center;
    vertical-align: top;
    width: 45%;

    @include small {
      margin: 0;
      width: 100%;
    }
  }

  .presence-map {
    margin-top: 8em;
    width: 38%;

    @include small {
      margin-bottom: 5em;
      width: 100%;
    }
  }

  .title {
    &.main {
      margin-bottom: 1em;
    }
  }

  .paragraph {
    text-align: justify;
  }

  .list {
    font-size: 1.6em;
    list-style: none;
  }

  .list-item {
    line-height: 1.3em;
  }

  .column {
    margin-top: 3em;
    text-align: left;
    vertical-align: top;

    @include small {
      margin: 3em 9% 0;
      width: 30%;
    }
  }
}
