.products {

  .back {
    display: inline-block;
    height: 24px;
    margin: 20em 0 0 8em;
    width: 31px;

    @include medium {
      margin: 20em 0 5.25em 3.75em;
    }

    @include small {
      height: 20px;
      margin: 15em 0 5.25em 3.75em;
      width: 25px;
    }
  }

  .inheritor {
    height: inherit;
    width: inherit;
  }

  .product {
    margin: 0 auto;
    max-width: calc(700px + 6em);
    padding-top: 0;
    width: 100%;
  }

  .prod-showcase {
    border-bottom: solid 2px $brand-color;
    height: auto;
    padding-bottom: 5.5em;
    position: relative;
    text-align: center;
    width: 100%;

    @include medium {
      padding: 0 3em 4em;
    }

    @include small {
      padding: 0 0 4em;
    }
  }

  .prod-image {
    float: left;
    margin-right: 8%;
    width: 37.5%;

    @include medium {
      margin: 0;
      width: 45.5%;
    }

    @include small {
      float: none;
      margin-right: 0;
      width: 56.15%;
    }
  }

  .prod-logo {
    float: left;
    margin: 9% 0 0 8%;
    width: 46.5%;

    @include medium {
      margin: 14% 0 0 8%;
    }

    @include small {
      float: none;
      margin: 4.75em 0 0 0;
      width: 50.75%;
    }
  }

  .prod-prev {
    @include center(false,true);

    background: url('../../images/icons/prev.svg') center/cover no-repeat;
    height: 20px;
    left: -8.4vw;
    width: 11px;

    @include medium {
      left: 0;
    }


    @include small {
      top: 30%;
    }
  }

  .prod-next {
    @include center(false,true);

    background: url('../../images/icons/next.svg') center/cover no-repeat;
    height: 20px;
    right: -8.4vw;
    width: 11px;

    @include medium {
      right: 0;
    }


    @include small {
      top: 30%;
    }
  }

  .prod-icons {
    margin: 3.7em 0 15em;

    @include small {
      margin: 6px 0 9.25em;
    }
  }

  .prod-bio, .prod-pet {
    margin-right: 3.7em;

    @include small {
      height: 23px;
      margin-right: 3.3em;
    }
  }

  .prod-pdf {
    float: right;

    @include small {
      height: 23px;
    }
  }

  .title {
    margin-bottom: 0.8em;
  }

  .subtitle {
    font-size: 1.3em;
    line-height: 1.4em;

    @include small {
      font-size: 1.625em;
    }
  }

  .paragraph {
    font-size: 1.3em;
    margin-bottom: 1.6em;

    @include small {
      font-size: 1.625em;
      line-height: 1.2em;
      margin-bottom: 1em;
    }

    &.smooth {
      color: $dust;
    }
  }
}
