<div class="slider">
  <div> <%= image_tag 'backgrounds/background-agriculture.jpg'%> </div>
  <div> <%= image_tag 'backgrounds/background-international.png'%></div>
  <div> <%= image_tag 'backgrounds/background-mission.png'%></div>
</div>
