<div class="menu-step-2">
  <div class="menu-wrapper">
    <button class="menu-back hide-on-small" onclick="menuStep1()"></button>
    <h4 class="menu-title">Línea Urbana</h4>
    <div class="menu-options">
      <a class="nav-link" href="#">Cebos</a><br>
      <a class="nav-link" href="#">Insecticidas Urbanos</a><br>
      <a class="nav-link" href="#">Generadores de Humo</a><br>
      <a class="nav-link" href="#">Trampas de Goma</a><br>
      <a class="nav-link" href="#">Aerosol</a>
    </div>
  </div>

</div>
