$athens-alpha: rgba(240,240,241,0.9);

$athens:                     #F0F0F1;
$black:                      #000000;
$dust:                       #9B9B9B;
$gravel:                     #666666;
$pomelo:                     #FF5000;
$tundora:                    #4A4A4A;
$white:                      #FFFFFF;

$brand-color:                $pomelo;

$text-accent:                $pomelo;
$text-clear:                  $white;
$text-dark:                 $tundora;
