<div class='bg-slider'></div>  
<div class='product-container'>
  <div class='product-images-container'>
    <%= image_tag('stronger-product.png', class: 'product-image') %>
    <%= image_tag('l-ig-stronger.png', class: 'product-logo') %>
  </div>
  <div class='description-container'>
    <h3 class='product-title bold'>Stronger®</h3>
    <p class='product-description'><span class='bold'>Stronger®</span> es la combinación perfecta de dos ingredientes activos en una formulación granulada.<br><br>

    <span class='bold'>Permetrina 8 g de i.a./ kg</span><br><br>

    Reúne la acción insuperable por contacto, repelencia y  residualidad de la Permetrina sobre las plagas del suelo; gallina ciega, larvas de diabrótica, gusano de alambre  y colaspis.<br><br>

    <span class='bold'>Imidacloprid 5 g de i.a./ Kg</span><br><br>

    Mientras que el Imidacloprid además de su actividad sobre las plagas del suelo, es absorbido por la raíz  de la planta y sistémicamente llega a la parte aérea, para el control de plagas como pulgones, trips, mosca blanca, gusanos trozadores, grillos, etc.<br><br>

    <span class='bold'>Stronger®</span> se aplica al suelo al momento de la siembra, o trasplante, protegiendo desde el principio la raíz y primeras hojas por algunas semanas.<br><br>

    <span class='bold'>Stronger®</span> puede ser utilizado en aquellos cultivos que requieran protección inicial tanto al suelo y a las primeras etapas del crecimiento foliar, como maíz, papa, frijol, sandía, melón, etc.<br><br>

    <span class='bold'>Stronger®</span> también puede ser aplicado al follaje de cultivos como: caña de azúcar para control de mosca pinta o salivazo, maíz contra gusano cogollero, piña en el control de tecla, en chile para picudos y otras plagas foliares.<br><br>

    Por esta doble acción, la planta queda protegida de insectos de suelo y de follaje en forma simultánea y por más tiempo.</p><br><br>
    
    <div class='product-sizes'> 
      <h4 class='bold'>Presentaciones</h4>
      <ul>
        <li><span class='bold'>Stronger®</span> Saco de 20 kg</li>
      </ul>  
    </div>
  
  </div>
</div>
<div class='pdf-container'>
  <%= link_to('#') do %>
    <%= render partial: 'partials/download_button' %>
  <% end %>
</div>