<div class='slide-container'>
  <div class='description-slide-container'>
    <div class='logo-container'>
      <%= image_tag('dicam-logo.png', class: 'logo' )%>
    </div>
    <div class='description-container font-size-20'>
      <p>Nuestro Nuevo Herbicida Dicam® LS es <br>"EL FIN DE LA HOJA ANCHA"</p>
      <a href="#" target='_blank' class='dicam-link'>Conócelo</a>
    </div>
  </div>
</div>
