<div class='about-us-container padding-top'>
  <div class='test'>
    <%= image_tag ('agr-line'), class: 'card-about-us' %>
    <%= image_tag ('urb-line'), class: 'card-about-us margin-20' %>
    <%= image_tag ('nutr-line'), class: 'card-about-us' %>
  </div>
  <div>
    <%= image_tag ('allister-logo'), class: 'logo-card-about-us' %>
  </div>
</div>
<p class='about-us-description'>
  En <span class='bold'>Allister</span> sabemos que podemos crear un ambiente seguro para ti, para las personas que quieres y para los cultivos que produces. Nos esforzamos en eliminar todo aquello que puede ponerlo en riesgo y que te crea constantes preocupaciones.<br><br>
  Reunimos los mejores componentes del mercado y los utilizamos para la fabricación de nuestros productos, creamos para ti una línea especializada de productos <span class='bold'>Urbanos</span>,<span class='bold'>Agrícolas</span> y de <span class='bold'>Nutrición de Plantas</span> que funcionan y producen resultados.<br><br>
  Nuestra Línea Urbana puedes utilizarla en tu hogar, en hoteles, hospitales, lugares de preparación de alimentos y en la industria pecuaria, eliminamos todas esas plagas que pueden invadirlos y crear graves problemas de salud.<br><br>
  La <span class='bold'>Línea Agrícola</span> se encarga de proteger tus cultivos de innumerable cantidad de plagas y enfermedades que pueden atacarlos en diferentes etapas de su crecimiento y con nuestra <span class='bold'>Nutrición de Plantas</span> nos encargamos de hacerlos crecer sanos y de producir más.<br><br>
  Nuestro compromiso es contigo para crear soluciones efectivas.<br><br><br>
  <span class='bold'>En Allister Nos Preocupamos por Ti</span>
</p>
