<div class='contact-us-container padding-top'>
  <div class='contact-us-description-container'>
    <h3 class='contact-us-title bold'>Allister<span class='normal'>®</span></h3>
    <p class='contact-us-description'>
      Allister de México S.A. de C.V.<br>
      Circunvalación Sur No. 5<br>
      Col. Las Fuentes <br>
      Zapopan, Jalisco. México.<br>
      C.P. 45070<br>
      Teléfono: (33) 3133 0013<br>
      Fax: (33) 3133 9816<br>
      </p>
  </div>
  <%= image_tag ('contact-image'), class: 'contact-image' %>
</div>
<h4 class='contact-us-form-title bold'>Envianos un mensaje</h4>
<div class='contact-us-form-container'>

  <div class='contact-us-left-form'>
    <p>Nombre completo <span class='red'>*</span></p>
    <input type="text" class='contact-us-input' placeholder='Escribe tu nombre'>

    <p>Compañia / Organización <span class='red'>*</span></p>
    <input type="text" class='contact-us-input' placeholder='Escribe el nombre de tu compañia'>

    <p>Ciudad <span class='red'>*</span></p>
    <input type="text" class='contact-us-input' placeholder='Escribe el nombre de tu ciudad'>

    <p>Estado <span class='red'>*</span></p>
    <input type="text" class='contact-us-input' placeholder='Escribe el nombre de tu estado'>

    <p>Teléfono <span class='red'>*</span></p>
    <input type="text" class='contact-us-input' placeholder='Teléfono fijo'>
  </div>

  <div class='contact-us-rigth-form'>
    <p>Email <span class='red'>*</span></p>
    <input type="text" class='contact-us-input' placeholder='tucorreo@dominio.com'>

    <p>Producto de su interés <span class='red'>*</span></p>
    <select name="cars" class='contact-us-input contact-us-select'>
     <option value="volvo">Volvo</option>
     <option value="saab">Saab</option>
     <option value="fiat">Fiat</option>
     <option value="audi">Audi</option>
    </select>

    <p>Producto de su interés <span class='red'>*</span></p>
    <textarea rows='4' cols='80' class='contact-us-input' placeholder='Escribe tus comentarios'></textarea>
  </div>
</div>
<div class='submit-button-container'>
<input type="submit" value='ENVIAR' class='submit-button-red bold'>
</div>
