<div class='cards-container'>
  <div class='right-card-container'>
    <p>
      <span class='main-text bold'>Conócelas <br>y eliminalas</span><br>
      <span>La mejor manera de atacar a<br> nuestro enemigo es <br>conociéndolo.</span>
    </p>

    <%= image_tag ('cockroach.jpg'), class: 'image-bg' %>
  </div>
</div>
