<div class='cards-container'>
  <div class='right-card-container'>
    <p>
      <span class='main-text bold'>Conócelas <br>y eliminalas</span><br>
      <span class='font-size-20'>La mejor manera de atacar a<br> nuestro enemigo es <br>conociéndolo.</span>
    </p>

    <%= image_tag ('cockroach.jpg'), class: 'image-bg' %>
  </div>

  <div class='left-card-container'>
    <%= image_tag ('clean-field-logo.png'), class: 'clean-field-logo' %>
    <p class='font-size-20'>Toda nuestra Línea Agrícola contribuye a mantener limpios Nuestros Campos</p>
  </div>
</div>
