<div class='products-line-container padding-top'>
  <% @categories.each do  |category|%>
  <div class='line-title'>
    <span><%= category.name %></span>
    <div class='line'></div>
  </div>
  <div class='products-container grid-container'>
    <% category.products.each do |product| %>
      <%= link_to products_path(product: product, category: category) do %>
        <%= image_tag('l-ig-stronger', class: 'line-image ')%>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>
