.fa-1x {
  font-size: 1.5rem;
  }
  .navbar-toggler.toggler-example {
  cursor: pointer;
  }
  .dark-blue-text {
  color: #0A38F5;
  }
  .dark-pink-text {
  color: #AC003A;
  }
  .dark-amber-text {
  color: #ff6f00;
  }
  .dark-teal-text {
  color: #004d40;
  }

.navbar {
  font-family: $source-sans-pro;
  padding: 0 8px 0 0;
  @media only screen and (min-width: $screen-tablet) {
    display: none;
  }

  .navbar-brand {
    padding: 0;
  }

  .header-logo-mobile {
    width: 50px;
  }

  .navbar-toggler {
    border: none;
  }
}

.navbar-light .navbar-nav .nav-link {
  display: flex;
  justify-content: flex-end;
  color: black;
  line-height: 15px;
}