.footer-container {
  font-family: 'Source Sans Pro', sans-serif;
  
  @media only screen and (min-width: 600px) {
    font-size: 12px;
    display: flex;
    margin: 0 auto;
    width: 80%;
  }

  .footer-social-container {
    span{ margin-right: 5px;}
    @media only screen and (min-width: 600px) {
      min-width: 200px;
      display: flex;
      align-items: flex-end;
    }
  }
}

.bold {
  font-weight: bold;
}
