.header-super-container {
  font-family: 'Source Sans Pro', sans-serif;

  @media only screen and (min-width: 1240px) {
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .header-container {
    @media only screen and (min-width: 1240px) {
      background: rgba(white, 0.9);
      margin: 0 auto;
      width: 80%;
    }
  }

  .nav-container {
    @media only screen and (min-width: 1240px) {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 120px;
    }
  }

  .nav-links {
    @media only screen and (min-width: 1240px) {
      display: flex;
      font-size: 16px;
      justify-content: center;
      margin: 0 auto;
      text-align: center;
      width: 80%;
    }
  }

  .flex-1 {
    flex: 1;

    &:hover, &:visited {
      color: black;
      text-decoration: none;
    }
  }
}
