
// Varibles for sizes of the screen
$screen-tablet: 600px !default;
$screen-laptop: 1240px !default;
$sceen-big-monitor: 1440px !default;

// Variables for colors
$black: black;
$white: white;
$gray-border: #F0F1F3;
$orange-allister: #FF5000;

// Variables for fonts
$source-sans-pro: 'Source Sans Pro', sans-serif;
