.international {
  display: inline-block;
  margin: 13.5em auto 5em;
  padding: 7em 3em;
  position: relative;
  text-align: center;
  width: 100%;

  @include small {
    margin: 10em auto -2em;
    padding: 5.8em 1em 15.3em;
  }

  .inter-background {
    background: url('../../images/backgrounds/background-international.png') center/cover no-repeat;
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 50.75%;

    @include small {
      width: 47.5%;
    }
  }

  .inter-wrapper {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    width: 850px;

    @include small {
      margin-top: -8em;
    }
  }

  .title {
    text-align: right;

    @include small {
      font-size: 1.8em;
      margin-right: 1.3em;
    }
  }

  .accent {
    font-family: $font-italic;
    font-size: 2.4em;
    margin-bottom: 1.5em;
    text-align: right;

    @include small {
      font-size: 1.8em;
      margin-right: 1.3em;
    }
  }

  .inter-image {
    margin-right: 10em;
    max-width: 100%;

    @include small {
      margin: auto;
      width: 100%;
    }
  }
}
