.lines {
  margin: 10em auto;
  text-align: center;

  @include small {
    margin: 0 auto 4em;
  }

  .line-item {
    display: inline-block;
    margin: 4em 5%;
    width: 220px;
    vertical-align: top;

    @include small {
      width: 210px;
    }
  }

  .line-image {
    height: auto;
    width: 86.5%;

    @include small {
      width: 67%;
    }
  }

  .title {
    font-size: 1.8em;
    margin: 2em auto;

    @include small {
      margin: 1em auto;
    }
  }

  .paragraph {
    color: $gravel;
    font-size: 1.3em;

    @include small {
      font-size: 1.65em;
      line-height: 1.2em;
    }
  }
}
