.menu-step-3 {
  float: left;
  height: 100%;
  position: relative;
  width: calc(100vw - 350px);

  @include medium {
    width: calc(100vw - 300px);
  }

  @include small {
    overflow-y: scroll;
    width: 100vw;
  }

  .menu-wrapper {
    padding-right: 6em;

    @include medium {
      padding-right: 5em;
    }

    @include small {
      padding: 14em 3em 0;
      position: relative;
      text-align: center;
      top: 0;
      transform: none;
    }
  }

  .menu-back {
    background: url('../../images/icons/arrow-back.svg') center/cover no-repeat;
    border: none;
    cursor: pointer;
    height: 24px;
    width: 30px;
  }

  .menu-title {
    text-transform: none;
  }

  .menu-products {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 700px;
    text-align: center;
    width: 95%;
  }

  .menu-product {
    cursor: pointer;
    margin: 5.6%;
    max-width: 22%;
    transition: transform 0.1s;

    @include medium {
      margin: 5%;
      max-width: 40%;
    }

    @include small {
      margin: 12% 20% 18%;
      max-width: 60%;
    }

    @include on-event {
      transform: scale(1.1);
    }
  }

  .footer {
    margin-top: 8em;
  }
}
