.menu-step-2 {
  float: left;
  height: 100%;
  position: relative;
  width: 350px;

  @include medium {
    width: 300px;
  }

  @include small {
    width: 100vw;
  }

  .menu-wrapper {
    padding-left: 8em;
    padding-right: 0;
    text-align: left;

    @include medium {
      padding-left: 3em;
    }

    @include small {
      padding: 0 3em;
      text-align: center;
    }
  }

  .menu-back {
    background: url('../../images/icons/arrow-back.svg') center/cover no-repeat;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    width: 30px;
  }

  .menu-title {
    display: inline-block;
    margin-bottom: 2.2em;
    margin-left: 16px;
    padding: 0;
    text-transform: none;
    vertical-align: top;

    @include medium {
      margin-bottom: 1.5em;
    }

    @include small {
      margin-left: 0;
    }
  }

  .nav-link {
    margin-left: 40px;
    padding: 0 10px;

    @include on-event {
      background: url('../../images/icons/select.svg') left center/5px 5px no-repeat;
    }

    @include small {
      margin-left: 0;
    }
  }

  .menu-footer {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100vw;
  }

  .footer {
    margin: 0 auto 3em;
  }
}
