<div id="carouselExampleIndicators" class="carousel slide padding-top" data-interval='false'>
  <ol class="carousel-indicators">
  </ol>
  <div class="carousel-inner">

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" style='color: black;opacity: 100%;'></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style='color: black;opacity: 100%;'>
    <span class="carousel-control-next-icon" aria-hidden="true" style='color: black;opacity: 100%;'></span>
    <span class="sr-only"></span>
  </a>
    <% @products.each do |product| %>
      <% if @activeProduct.id == product.id %>
        <div class="carousel-item active">
        <%= render partial: 'product_details', locals: {product: product} %>
        </div>
      <% else %>
        <div class="carousel-item">
          <%= render partial: 'product_details', locals: {product: product} %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>