<header class='header-super-container'>
  <div class='header-container'>
    <nav class='nav-container'>
      <%= image_tag ('allister-logo') %>
      <div class='nav-links'>
        <a href="#" class='flex-1'>Línea<br>Agrícola</a>
        <a href="#" class='flex-1'>Línea<br>Urbana</a>
        <a href="#" class='flex-1'>Nutrición<br>De Plantas</a>
        <a href="#" class='flex-1'>Contacto</a>
      </div>
    </nav>
  </div>
</header>
