<header class='header-super-container'>
  <div class='header-container'>
    <nav class='nav-container'>
      <%= link_to(root_path)  do %>
        <%= image_tag ('allister-logo') %>
      <% end %>
      <div class='nav-links'>
        <%= link_to("Línea Agrícola", 'agriculture_line', class: 'flex-1') %>
        <a href="#" class='flex-1'>Línea<br>Urbana</a>
        <a href="#" class='flex-1'>Nutrición<br>De Plantas</a>
        <a href="#" class='flex-1'>Nosotros</a>
        <a href="#" class='flex-1'>Contacto</a>
      </div>
    </nav>
  </div>
</header>
