<div class='footer-mobile-container'>
    <div class='footer-social-container'>
        <span>Encuentranos en </span>
        <a href='https://www.facebook.com/AllisterDeMexico/' target="_blank"><%= image_tag('fb-logo') %></a>
    </div>
    <div class='footer-description-container'>
        <span><span class='bold'>2014 Allister de México S.A. de C.V.</span> Todos los Derechos Reservados.</span>
        <p>
            El logo de <span class='bold'>Allister de México</span> y todos los nombres de marca, marcas
            de servicio, logotipos e imagen comercial de <span class='bold'>Allister de México S.A. de C.V.</span>
            o sus subsidiarias, afiliadas o licenciantes son marcas comerciales o marcas comerciales registradas
            de <span class='bold'>Allister de México S.A. de C.V.</span> en México y en otros países.
            Guadalajara, Jalisco. México.
        </p>
  </div>
</div>
